## Green Cars- Data Science Course Final Project

## Load Packages

In [35]:
library("dplyr")
library("tidyr")
library("readxl")

## Load Data Set

In [36]:
Green_cars= read.csv("Electric_Vehicle_Population_Data.csv")

In [37]:
head(Green_cars)

  VIN..1.10. County    City         State Postal.Code Model_Year Make
1 WP0AB2Y13M Thurston  Olympia      WA    98513       2021       PORSCHE
2 1N4BZ1CP0K Grant     Quincy       WA    98848       2019       NISSAN
3 1G1FX6S06J Skagit    Mount Vernon WA    98274       2018       CHEVROLET
4 JTDKAMFP3M Yakima    Yakima       WA    98902       2021       TOYOTA
5 1N4AZ1CP4L Snohomish Everett      WA    98208       2020       NISSAN
6 5YJSA1S2XF Grant     Moses Lake   WA    98837       2015       TESLA
  Model       Electric.Vehicle.Type
1 TAYCAN      Battery Electric Vehicle (BEV)
2 LEAF        Battery Electric Vehicle (BEV)
3 BOLT EV     Battery Electric Vehicle (BEV)
4 PRIUS PRIME Plug-in Hybrid Electric Vehicle (PHEV)
5 LEAF        Battery Electric Vehicle (BEV)
6 MODEL S     Battery Electric Vehicle (BEV)
  Clean.Alternative.Fuel.Vehicle..CAFV..Eligibility Electric.Range Base.MSRP
1 Clean Alternative Fuel Vehicle Eligible           203            0
2 Clean Alternative Fuel Vehicle Eligible           150            0
3 Clean Alternative Fuel Vehicle Eligible           238            0
4 Not eligible due to low battery range              25            0
5 Clean Alternative Fuel Vehicle Eligible           149            0
6 Clean Alternative Fuel Vehicle Eligible           208            0
  Legislative.District DOL.Vehicle.ID Vehicle.Location
1  2                   156659646      POINT (-122.751179 47.002092)
2 12                   157077469      POINT (-119.830891 47.164101)
3 10                   250701013      POINT (-122.250701 48.368138)
4 14                   156585922      POINT (-120.532719 46.59458)
5 44                   128498779      POINT (-122.19615 47.894423)
6 13                   132461094      POINT (-119.280576 47.149471)
  Electric.Utility         X2020.Census.Tract
1 PUGET SOUND ENERGY INC   53067012331
2 PUD NO 2 OF GRANT COUNTY 53025011200
3 PUGET SOUND ENERGY INC   53057952700
4                          53077001000
5 PUGET SOUND ENERGY INC   53061052120
6 PUD NO 2 OF GRANT COUNTY 53025011002

## Subseting Data

## Creating Single Linear Regression Subset

In [38]:
Subset1=c("Model_Year","DOL.Vehicle.ID")
Green_cars1=Green_cars[Subset1]

In [39]:
head(Green_cars1)

  Model_Year DOL.Vehicle.ID
1 2021       156659646
2 2019       157077469
3 2018       250701013
4 2021       156585922
5 2020       128498779
6 2015       132461094

In [40]:
Green_cars2=Green_cars1 %>% group_by(Model_Year) %>% summarize(count = n())

In [41]:
View(Green_cars2)

   Model_Year count
1  1993           1
2  1998           1
3  1999           3
4  2000          10
5  2002           2
6  2008          24
7  2010          25
8  2011         856
9  2012        1721
10 2013        4804
11 2014        3771
12 2015        5032
13 2016        6376
14 2017        9787
15 2018       14270
16 2019       10751
17 2020       11178
18 2021       19677
19 2022       11980

## subsetting For Anova Analysis

In [31]:
Subset2=c("Make","DOL.Vehicle.ID")
Green_cars3=Green_cars[Subset2]

In [32]:
head(Green_cars3)

  Make      DOL.Vehicle.ID
1 PORSCHE   156659646
2 NISSAN    157077469
3 CHEVROLET 250701013
4 TOYOTA    156585922
5 NISSAN    128498779
6 TESLA     132461094

In [34]:
Green_cars4=Green_cars3 %>% group_by(Make) %>% summarize(count = n())

In [43]:
View(Green_cars4)

   Make                 count
1  AUDI                  2009
2  AZURE DYNAMICS           7
3  BENTLEY                  2
4  BMW                   4187
5  CADILLAC               109
6  CHEVROLET             9499
7  CHRYSLER              1675
8  DODGE                    1
9  FIAT                   826
10 FISKER                  13
11 FORD                  5966
12 HONDA                  774
13 HYUNDAI               1485
14 JAGUAR                 205
15 JEEP                   739
16 KIA                   4990
17 LAND ROVER              38
18 LINCOLN                105
19 LUCID MOTORS            23
20 MERCEDES-BENZ          369
21 MINI                   493
22 MITSUBISHI             587
23 NISSAN               12791
24 POLESTAR               365
25 PORSCHE                722
26 RIVIAN                  83
27 SMART                  274
28 SUBARU                  53
29 TESLA                43681
30 TH!NK                    3
31 TOYOTA                4057
32 VOLKSWAGEN            2020
33 VOLVO                 2115
34 WHEEGO ELECTRIC CARS     3